#body {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5px;
    background-color: #ecf0f1;

}
#live {
    padding: 35px;
    text-align: center;
    background: rgb(241, 223, 173);
    color: white;
    font-size: 90px;
}
#control {
    padding: 10px;
    text-align: center;
    background: rgb(243, 235, 215);
    font-size: 90px;
}

#progress {
    padding: 5px;
    min-height: 50px;    
}

.separator {
    text-align: center;

}

.progress-pom {
    width: 45px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;

}

.button {
    /* position: relative; */
    display: block;
    margin: 30px auto;
    padding: 5px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
  }
  .button:hover, .button:focus {
    background-color: #27ae60;
  }